/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; /* Use a clean and modern font */
  background-color: #f8f9fa; /* Light background color */
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Home container */
.home-container {
  
  padding: 30px;
  background: linear-gradient(45deg, #3498db, #2ecc71);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  color: #ecf0f1;
}

.home-container:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/* Blog post container */
.blog-post {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  background: linear-gradient(45deg, #2c3e50, #34495e);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.blog-post:hover {
  transform: scale(1.02);
  background: linear-gradient(45deg, #34495e, #2c3e50);
}

/* Blog title */
.blog-title {
  font-size: 28px;
  font-weight: bold;
  color: #ecf0f1;
  margin-bottom: 15px;
}

/* Blog content */
.blog-content {
  color: #bdc3c7;
  line-height: 1.6;
  font-size: 16px;
  padding: 20px;
  border-top: 1px solid #bdc3c7;
}

/* Optional: Add a subtle background pattern */
body {
  background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0),
                    linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
